/* MullerLight */
@font-face { 
    font-family: "Muller";
    font-style: normal;
    font-weight: 300;
    src: local(''),
          url('../fonts/MullerLight.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MullerLight.woff') format('woff');  /* Modern Browsers */
}

/* MullerRegular */
@font-face { 
    font-family: "Muller";
    font-style: normal;
    font-weight: 400;
    src: local(''),
          url('../fonts/MullerRegular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MullerRegular.woff') format('woff');  /* Modern Browsers */
}

/* MullerMedium */
@font-face { 
    font-family: "Muller";
    font-style: normal;
    font-weight: 500;
    src: local(''),
          url('../fonts/MullerMedium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MullerMedium.woff') format('woff');  /* Modern Browsers */
}

/* MullerBold */
@font-face { 
    font-family: "Muller";
    font-style: normal;
    font-weight: 700;
    src: local(''),
          url('../fonts/MullerBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MullerBold.woff') format('woff');  /* Modern Browsers */
}

*{
    box-sizing: border-box;
}
  
html{
    font-family: 'San-serif', sans-serif;
    background-color: white;
}

@media (max-width: 1800px){
    .swiper{
        max-width: 1770px !important;
        width: 100% !important;
    }
}

@media (max-width: 1400px){
    summary{
        max-width: 1770px !important;
        width: 100% !important;
    }

    details{
        max-width: 1770px !important;
        width: 100% !important;
    }

    .section-questions__heading{
        max-width: 1700px !important;
        width: 100% !important;
    }

    .container{
        padding-right: 10px;
        padding-left: 10px;
    }

    .header__nav{
        display: none;
    }

    .header__burger{
        display: block;
        margin-right: 20px;
    }

    .swiper{
        max-width: 1770px !important;
        width: 100% !important;
    }

    .section-swiper__content{
        max-width: none !important;
    }

    .section-swiper{
        max-height: 620px !important;
    }

    .section-about__about{
        min-width: 100% !important;
    }

    .section-about__list{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .section-job__container{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .footer__container{
        display: block !important;
    }

    .section-swiper__content{
        padding: 30px !important;
    }

    .footer__description{
        max-width: 100% !important;
    }

    .footer__column-1{
        margin-bottom: 20px !important;
    }

    .section-job__content{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .section-job__content-left{
        margin-bottom: 30px;
    }

    .section-job__content-img{
        max-width: 870px !important;
        width: 100% !important;
        max-height: 460px !important;
        height: 100%;
        background-position: contain !important;
    }

    .section-job__content-img2{
        max-width: 870px !important;
        width: 100% !important;
        max-height: 460px !important;
        height: 100%;
        background-position: contain !important;
    }

    .section-job__content-img3{
        max-width: 870px !important;
        width: 100% !important;
        max-height: 460px !important;
        height: 100%;
        background-position: contain !important;
    }

    .section-job__content-img4{
        max-width: 870px !important;
        width: 100% !important;
        max-height: 460px !important;
        height: 100%;
        background-position: contain !important;
    }

    .section-about__item-2{
        max-width: 868px !important;
    }

    .section-about__item-3{ 
        max-width: 868px !important;
    }

    .section-about__item-logo{
        margin-right: 20px !important;
    }

    .section-about__item-1{
        max-width: 868px !important;
        width: 100% !important;
        margin-bottom: 20px;
        margin-right: 0 !important;
        background-position: 30% 0% !important;
    }

    .section-questions__item-heading{
        margin-right: 20px !important;
    }

    .section-question__icon{
        max-width: 35px !important;
        width: 100% !important;
        max-height: 35px !important;
        height: 100% !important;
    }

    .footer__content{
        display: flex !important;
        justify-content: space-between;
    }

    .footer__social{
        flex-direction: column !important;
    }

    .footer__icon{
        max-width: 40px !important;
        width: 100% !important;
        max-height: 40px !important;
        height: 100% !important;
        margin-bottom: 20px !important;
    }

    .btn-submit{
        margin-right: 20px;
    }

    .footer__check-description{
        line-height: normal !important;
    }

    .footer__list{
        margin-bottom: 30px !important;
    }

    .footer__logo{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1400px){
    .header__burger{
        display: none;
    }
}

@media (max-width: 992px){

    .section-about__item-logo{
        margin-bottom: 20px !important;
    }

    .section-about__items-right{
        max-width: 868px !important;
        width: 100% !important;
    }

    .section-about__item-2{
        max-width: 868px !important;
        width: 100% !important;
        padding: 40px 20px !important;
    }

    .section-about__item-3{
        max-width: 868px !important;
        width: 100% !important;
        padding: 40px 20px !important;
    }

    .section-about__item-1-content{
        display: block !important;
    }

    .section-about__item-2-content{
        flex-direction: column !important;
        align-items: center !important;
    }

    .section-about__item-3-content{
        flex-direction: column !important;
        align-items: center !important;
    }
}

@media (max-width: 728px){
    .header__btn-search{
        display: none;
    }

    .section-swiper__heading{
        font-size: 36px !important;
        line-height: normal !important;
    }

    .section-swiper__description{
        font-size: 16px !important;
        line-height: normal !important;
    }

    .section-swiper__description{
        margin-bottom: 25px !important;
    }

    .footer__input{
        min-width: auto !important;
    }

    .footer__textarea{
        min-width: auto !important;
    }
}

@media (max-width: 576px){
    summary::after{
        background: url(../img/svg/+х.svg) no-repeat 50% 50% / 40px 40px !important;
        width: 40px !important;
        height: 40px !important;
    }

    .header__logo{
        margin-left: 30px !important;
    }

    .section-about__heading{
        font-size: 34px !important;
        line-height: normal !important;
    }

    .section-job__heading{
        font-size: 34px !important;
        line-height: normal !important;
    }

    .section-questions__heading{
        font-size: 34px !important;
        line-height: normal !important;
    }

    .section-questions__item-heading{
        font-size: 19px !important;
        line-height: normal !important;
    }

    .footer__column-2-heading{
        font-size: 34px !important;
        line-height: normal !important;
    }

    .section-about__description{
        font-size: 17px !important;
        line-height: normal !important;
    }

    .section-about__item-1_description{
        font-size: 19px !important;
        line-height: normal !important;
    }

    .section-swiper__btn{
        margin-top: 30px !important;
        margin-bottom: 0px !important;
    }

    .section-job__btn{
        margin-bottom: 20px !important;
    }

    .button{
        width: 100% !important;
        font-size: 19px !important;
        line-height: normal !important;
    }

    .section-about__item-1_content{
        flex-direction: column !important;
        padding: 10px !important;
        width: 100% !important;
    }

    .section-about__item-1_description{
        min-width: 100% !important;
        margin-bottom: 10px !important;
    }

    .section-job__item:not(:last-child) {
        margin-right: 35px !important;
    }

    .btn-2{
        min-width: 100% !important;
        text-align: center;
        font-size: 19px !important;
        line-height: normal !important;
    }

    .btn-submit{
        margin-left: 20px !important;
        min-width: 100% !important;
        font-size: 19px !important;
        line-height: normal !important;
    }

    .footer__container{
        padding: 10px 10px 50px 10px!important;
        align-items: center !important;
    }

    .footer__form-action{
        flex-direction: column !important;
    }

    .footer__checked{
        margin-bottom: 20px !important;
        width: 30px !important;
        height: 30px !important;
    }

    .footer__check-description{
        margin-bottom: 20px !important;
    }
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.section{
    margin-bottom: 100px;
}

.button{
    display: inline-block;
    padding: 24.83px 36.88px;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    color: #FFF;
    cursor: pointer;
    transition: background-color .3s ease;
}

.button:hover{
    background-color: #ff9900b3;
}

.button:active{
    background-color: #E1670E;
}

/* MENU */

.menu{
    position: absolute;
    z-index: 3;
    top: 100px;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 350px;
    padding: 40px;
    border-radius: 0px 0px 10px 0px;
    background-color: #fffefefa;
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
}

.menu.is-active{
    transform: none;
}

.menu__nav-item{
    margin-bottom: 30px;
}

.menu__nav-item-link{
    font-size: 18px;
    line-height: 22px;
    color: #333;
}

.menu__nav-item-link:hover{
    border-bottom: 2px solid #FF9900;
}

.menu__nav-item-link:active{
    color: #E1670E;
    border-bottom: 2px solid #E1670E;
}

/* HEADER */

.header{
    position: relative;
    z-index: 3;
}

.header__container{
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
}

.header__logo{
    margin-right: auto;
    margin-left: 75px;
}

.header__nav-list{
    display: flex;
    align-items: center;
    height: 100%;
}

.header__nav-item-link{
    margin-right: 85px;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}

.header__nav-item-link:hover{
    border-bottom: 2px solid #FF9900;
}

.header__nav-item-link:active{
    color: #E1670E;
    border-bottom: 2px solid #E1670E;
}

.header__btn-search{
    margin-right: 75px;
}

.header__btn-search:hover .header__btn-icon path{
    stroke: #FF9900;
}

.header__btn-search:hover .header__btn-icon rect{
    fill: #FF9900;
}

.header__btn-icon rect{
    transition: fill .3s ease;
}

.header__btn-icon path{
    transition: stroke .3s ease;
}


/* SWIPER */

.section-swiper{
    position: relative;
}

.section-swiper__content{
    position: absolute;
    z-index: 2;
    top: 0;
    max-width: 47%;
    max-height: 420px;
    padding: 100px 80px;
    user-select: none;
}

.swiper {
    width: 1770px;
    height: 620px;
}

.swiper-slide{
    background-size: cover;
}

.btn{
    background-color: #FFF !important;
}

.btn_round{
    min-width: 15px;
    min-height: 15px;
    margin-top: 10px;
}

.section-swiper__slide1{
    background-image: url(../img/1.png);
}

.section-swiper__slide2{
    background-image: url(../img/2.png);
}

.section-swiper__slide3{
    background-image: url(../img/3.png);
}

.section-swiper__heading{
    margin-top: 0;
    margin-bottom: 24px;
    color: #fff;
    font-size: 58px;
    line-height: 65.33px;
}

.section-swiper__description{
    margin-top: 0;
    margin-bottom: 60px;
    color: #fff;
    font-size: 22px;
    line-height: 19.26px;
}

.section-swiper__btn{
    margin-bottom: 100px;
    font-size: 23.4581px;
    line-height: 29px;
}

/* ABOUT */

.section-about__about{
    width: 70%;
    margin-bottom: 50px;
}

.section-about__heading{
    font-size: 48px;
    line-height: 58.51px;
    color: #333;
}

.section-about__description{
    font-size: 16px;
    line-height: 32px;
    color: #333;
}

.section-about__list{
    display: flex;
}

.section-about__item-1{
    display: flex;
    align-items: flex-end;
    width: 728px;
    height: 622px;
    border: 1px solid #CACACA;
    margin-right: 32px;
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: contain;
}

.section-about__item-1_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 868px;
    min-height: 196px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.section-about__item-1_description{
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    font-size: 16px;
    line-height: 32px;
    color: #FFF;
}

.btn-2{
    display: inline-block;
    padding: 20px 38px;
    border: 3px solid #FF9900;
    font-size: 16px;
    line-height: 19.5px;
    color: #FFF;
    cursor: pointer;
    transition-property: background-color, border;
    transition-timing-function: ease;
    transition-duration: .3s;
}

.btn-2:hover{
    background-color: #FF9900;
}

.btn-2:active{
    background-color: #E1670E;
    border: 3px solid #E1670E;
}

.section-about__item-2{
    width: 668px;
    min-height: 295px;
    border: 1px solid #CACACA;
    margin-bottom: 28px;
    padding: 65px 118px 65px 60px;
}

.section-about__item-logo{
    margin-right: 25px;
}

.section-about__item-2-content{
    display: flex;
    justify-content: space-between;
}

.section-about__item-2-heading{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 24.26px;
    font-weight: 700;
    color: #333;
}

.section-about__item-2-description{
    max-width: 420px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}

.section-about__item-3{
    width: 668px;
    min-height: 295px;
    border: 1px solid #CACACA;
    padding: 65px 118px 65px 60px;
}

.section-about__item-3-content{
    display: flex;
    justify-content: space-between;
}

.section-about__item-3-heading{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 24.26px;
    font-weight: 700;
    color: #333;
}

.section-about__item-3-description{
    max-width: 420px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}

/* JOB */

.section-job__list{
    display: flex;
}

.section-job__item{
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    color: #333;
    transition: color .3s ease;
}

.section-job__item:hover{
    color: #FF9900;
}

.section-job__item:focus{
    border: 1px solid #FF9900;
    color: #FF9900;
}

.section-job__item:active{
    border: 1px solid #FF9900;
    color:#E1670E;
}

.section-job__item-btn{
    position: relative;
}

.alert::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width:100%;
    height: 3px;
    background-color: #FF9900;
    transition: width .3s ease;
}


.section-job__item:not(:last-child){
    margin-right: 85px;
}

.section-job__block{
    display: none;
    margin-top: 45px;
}

.tab-content-active{
    display: block;
}

.section-job__content{
    display: flex;
    justify-content: space-between;
}

.section-job__content-heading{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.section-job__content-description{
    max-width: 758px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #333;
}

.section-job__btn{
    padding: 20px 38px;
    margin-right: 20px;
}

.section-job__btn-2{
    padding: 20px 38px;
    border: 1px solid #666;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #333;
    background-color: #fff;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.section-job__btn-2:hover{
    background-color: #666;
    color: #FFF;
}

.section-job__btn-2:active{
    background-color: #000;
    color: #FFF;
}

.section-job__content-img{
    width: 870px;
    height: 460px;
    background-image: url(../img/Section-JOB-img.png);
    background-repeat: no-repeat;
    background-position: center;
}

.section-job__content-img2{
    width: 870px;
    height: 460px;
    background-image: url(../img/Section-Job2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.section-job__content-img3{
    width: 870px;
    height: 460px;
    background-image: url(../img/Section-Job3.png);
    background-repeat: no-repeat;
    background-position: center;
}

.section-job__content-img4{
    width: 870px;
    height: 460px;
    background-image: url(../img/Section-Job4.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* QUESTIONS */

summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   max-width: 1770px;
   width: 100%;
   display:flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   position: relative;
}

.section-question__icon{
    width: 50px;
    height: 50px;
    margin-left: auto;
    cursor: pointer;
    transition: transform .7s;
}

details[open] .section-question__icon{
    transform: rotateZ(-45deg);
}

summary ~ * {
    padding:0 1em 0 1em;
 }

 details[open] summary ~ *{ 
   animation: sweep .5s ease-in-out;
 }
 @keyframes sweep {
   0%    {opacity: 0;}
   100%  {opacity: 1;}
 }

 details{
   display:block;
   width: 100%;
 }

.section-questions__heading{
    width: 100%;
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 58.51px;
    font-weight: 400;
    font-style: normal;
    color: #333;
}

.section-question__item-description{
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #333;
}

.section-questions__item{
    max-width: 1770px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #CACACA;
}

.section-questions__item:nth-child(1){
    border-top: 1px solid #CACACA;
}

.section-questions__item-heading{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

/* FOOTER */

.footer{
    width: 100%;
    min-height: 594px;
    background-color: #222;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    padding: 50px 75px;
}



.footer__logo{
    margin-bottom: 20px;
}

.footer__list{
    margin-bottom: 90px;
}

.footer__item-link{
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    color: #CACACA;
}

.footer__item-link:hover{
    border-bottom: 2px solid #FF9900;
}

.footer__item-link:active{
    color: #E1670E;
    border-bottom: 2px solid #E1670E;
}

.footer__social{
    display: flex;
}

.footer__social-icon:not(:last-child){
    margin-right: 25px;
}

.footer__icon path{
    transition: fill .3s ease;
}

.footer__social-icon:hover .footer__icon path{
    fill: #FF9900;
}

.footer__social-icon:active .footer__icon path{
    fill: #E1670E;
}

.footer__column-2-heading{
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 58.51px;
    font-weight: 400;
    color: #CACACA;
}

.footer__form{
    display: flex;
    flex-direction: column;
}

.footer__input{
    min-width: 570px;
    min-height: 60px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    border: none;
    background-color: #414141;
    color: #CACACA;
}

.footer__textarea{
    min-width: 570px;
    min-height: 150px;
    max-height: 150px;
    overflow-x: hidden;
    resize: none;
    margin-bottom: 32px;
}

.footer__input:not(:last-child){
    margin-bottom: 25px;
}

.footer__form-action{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.footer__check{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.footer__checked{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer__check-description{
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #CACACA;
}

#check{
    display: none;
}

#check + .custom-checkbox{
    position: absolute;
    top: 5px;
    left: 0px;
    width: 20px;
    height: 20px;
    border: 2px solid #CACACA;
}

#check + .custom-checkbox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: url(../img/svg/check.svg) no-repeat center center;
    background-size: contain;
    transition: opacity .1s ease-in-out;
}

#check:checked + .custom-checkbox::before{
    opacity: 1;
}

.btn-submit{
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 700;
    padding: 19px 52px;
}

.footer__column-3{
    margin-top: 87px;
}

.footer__description{
    max-width: 320px;
    margin: 0;
    font-size:16px;
    line-height: 32px;
    font-weight: 400;
    color: #CACACA;
}